---
import styles from "./Header.module.scss"
import Cover from "../../assets/cover.png"
---

<div class={styles.container}>
    <img src={Cover} alt="Banner">
    <button class={styles.cta_button}>Test your English knowladge</button>
</div>