---
import Styles from './videoContainer.module.scss';
import VideoCard from '../VideoCard/VideoCard.astro';
---

<section class={Styles.mainContainer}>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
    <div class={Styles.videoContainer}>
        <VideoCard />
        <VideoCard />
        <VideoCard />
    </div>
</section>