@use '../../scss/typography.scss';


.mainContainer{
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    gap: 1.125rem;
    margin: 6rem 6.25rem 6rem;

    p{
        color: var(--thumbnail); 
        @include typography.title_4;
    }
}


.videoContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}